{% extends "base/base.html" %}

{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/daterangepicker.css" %}">
<link rel="stylesheet" href="{% static "css/datepicker3.css" %}">
{% endblock extra_css %}

{% block content %}
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-success">
					<div class="box-header with-border">
						<h3 class="box-title">Venta de productos</h3>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
							</button>
							<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
						</div>
					</div>
					<div class="box-body">
						<form>
							<div class="form-group">
								<label>Fechas:</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input type="text" class="form-control pull-right" id="reservation">
								</div>
								<!-- /.input group -->
							</div>
							<div class="chart">
								<canvas id="barChart" style="height:430px"></canvas>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}

{% block extra_js %}
<script src="{% static "js/Chart.min.js" %}"></script>
<script src="{% static "js/moment.min.js" %}"></script>
<script src="{% static "js/daterangepicker.js" %}"></script>
<script src="{% static "js/bootstrap-datepicker.js" %}"></script>
<script>
	function grafico_ventas(grafico, inicio, fin) {
		$.ajax({
			url: "{% url "analytics_api" %}",
			data: {
				inicio: inicio,
				fin: fin,
			},
			dataType: 'json',
			success: function (respuesta) {
				var productos = [];
				var cantidades_venta = [];
				var cantidades_compra = [];
				$.each(respuesta.productos, function (index, item) {
					productos.push(item.producto);
					cantidades_venta.push(item.cantidad);
					cantidades_compra.push(item.cantidad_compra);
				});
				grafico.config.data.labels = productos;
				grafico.data.datasets[0].data = cantidades_venta;
				grafico.data.datasets[1].data = cantidades_venta;
				grafico.update();
			}
		});
	}
	var areaChartData = {
		labels: [],
		datasets: [
		{
			label: "Compras",
			backgroundColor: "rgba(210, 214, 222, 1)",
			strokeColor: "rgba(210, 214, 222, 1)",
			pointColor: "rgba(210, 214, 222, 1)",
			pointStrokeColor: "#c1c7d1",
			pointHighlightFill: "#fff",
			pointHighlightStroke: "rgba(220,220,220,1)",
			data: []
		},
		{
			label: "Ventas",
			backgroundColor: "rgba(60,141,188,0.9)",
			strokeColor: "rgba(60,141,188,0.8)",
			pointColor: "#3b8bba",
			pointStrokeColor: "rgba(60,141,188,1)",
			pointHighlightFill: "#fff",
			pointHighlightStroke: "rgba(60,141,188,1)",
			data: []
		}
		]
	};
	var barChartCanvas;
	var barChart;
	var barChartData;
	$(document).ready(function () {
		
		barChartCanvas = $("#barChart").get(0).getContext("2d");
		var barChartOptions = {
			scaleBeginAtZero: true,
			scaleShowGridLines: true,
			scaleGridLineColor: "rgba(0,0,0,.05)",
			scaleGridLineWidth: 1,
			scaleShowHorizontalLines: true,
			scaleShowVerticalLines: true,
			barShowStroke: true,
			barStrokeWidth: 2,
			barValueSpacing: 5,
			barDatasetSpacing: 1,
			responsive: true,
			maintainAspectRatio: true
		};
		barChart = new Chart(barChartCanvas, {
			type: 'bar',
			data: areaChartData,
			options: barChartOptions
		});
		areaChartData.datasets[0].backgroundColor = "#00a65a";
		areaChartData.datasets[0].strokeColor = "#00a65a";
		areaChartData.datasets[0].pointColor = "#00a65a";
		

		barChartOptions.datasetFill = false;
		$('#reservation').daterangepicker({
			"autoApply": true,
			locale: {
				format: 'DD/MM/YYYY'
			}
		},
		function (start, end, label) {
			grafico_ventas(barChart, start.format('YYYY-MM-DD'), end.format('YYYY-MM-DD'));
		});
		$('#reservation').data('daterangepicker').toggle();

	});
</script>
{% endblock extra_js %}