{% extends "base/base.html" %}

{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/daterangepicker.css" %}">
<link rel="stylesheet" href="{% static "css/datepicker3.css" %}">
{% endblock extra_css %}

{% block content %}
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-success">
					<div class="box-header">
						<h3 class="box-title">Filtro de fechas</h3>
					</div>
					<div class="box-body">
						<form>
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input type="text" class="form-control pull-right" id="reservation">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="box box-success">
					<div class="box-header with-border">
						<h3 class="box-title">Venta de productos</h3>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-body">
						<div class="chart">
							<canvas id="barChart" style="height:430px"></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="box box-success">
					<div class="box-header">
						<h3 class="box-title">Vendedores</h3>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-body">
						<canvas id="pieChart" style="height:430px"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}

{% block extra_js %}
<script src="{% static "js/Chart.min.js" %}"></script>
<script src="{% static "js/moment.min.js" %}"></script>
<script src="{% static "js/daterangepicker.js" %}"></script>
<script src="{% static "js/bootstrap-datepicker.js" %}"></script>
<script>
	function grafico_ventas(grafico_barra, grafico_pie, inicio, fin) {
		$.ajax({
			url: "{% url "analytics_api" %}",
			data: {
				inicio: inicio,
				fin: fin,
			},
			dataType: 'json',
			success: function (respuesta) {
				var productos = [];
				var cantidades_venta = [];
				var cantidades_compra = [];
				var vendedores_list = [];
				var vendedores_cantidad = [];
				$.each(respuesta.productos, function (index, item) {
					productos.push(item.producto);
					cantidades_venta.push(item.cantidad);
					cantidades_compra.push(item.cantidad_compra);
				});
				grafico_barra.config.data.labels = productos;
				grafico_barra.data.datasets[0].data = cantidades_venta;
				grafico_barra.data.datasets[1].data = cantidades_venta;
				grafico_barra.update();
				$.each(respuesta.vendedores, function (index, item) {
					vendedores_list.push(item.vendedor);
					vendedores_cantidad.push(item.cantidad);
				});
				grafico_pie.config.data.labels = vendedores_list;
				grafico_pie.data.datasets[0].data = vendedores_cantidad;
				grafico_pie.update();
			}
		});
	}
	var areaChartData = {
		labels: [],
		datasets: [
		{
			label: "Compras",
			backgroundColor: "rgba(210, 214, 222, 1)",
			strokeColor: "rgba(210, 214, 222, 1)",
			pointColor: "rgba(210, 214, 222, 1)",
			pointStrokeColor: "#c1c7d1",
			pointHighlightFill: "#fff",
			pointHighlightStroke: "rgba(220,220,220,1)",
			data: []
		},
		{
			label: "Ventas",
			backgroundColor: "rgba(60,141,188,0.9)",
			strokeColor: "rgba(60,141,188,0.8)",
			pointColor: "#3b8bba",
			pointStrokeColor: "rgba(60,141,188,1)",
			pointHighlightFill: "#fff",
			pointHighlightStroke: "rgba(60,141,188,1)",
			data: []
		}
		]
	};
	var barChartCanvas;
	var barChart;
	var barChartData;
	$(document).ready(function () {
		
		barChartCanvas = $("#barChart").get(0).getContext("2d");
		var barChartOptions = {
			scaleBeginAtZero: true,
			scaleShowGridLines: true,
			scaleGridLineColor: "rgba(0,0,0,.05)",
			scaleGridLineWidth: 1,
			scaleShowHorizontalLines: true,
			scaleShowVerticalLines: true,
			barShowStroke: true,
			barStrokeWidth: 2,
			barValueSpacing: 5,
			barDatasetSpacing: 1,
			responsive: true,
			maintainAspectRatio: true
		};
		barChart = new Chart(barChartCanvas, {
			type: 'bar',
			data: areaChartData,
			options: barChartOptions
		});
		areaChartData.datasets[0].backgroundColor = "#00a65a";
		areaChartData.datasets[0].strokeColor = "#00a65a";
		areaChartData.datasets[0].pointColor = "#00a65a";

		pieChartCanvas = $("#pieChart").get(0).getContext("2d");
		var data_pie = {
			labels: [],
			datasets: [
			{
				data: [],
				backgroundColor: [
				"#FF6384",
				"#36A2EB",
				"#FFCE56"
				],
				hoverBackgroundColor: [
				"#FF6384",
				"#36A2EB",
				"#FFCE56"
				]
			}]
		};

		var myPieChart = new Chart(pieChartCanvas, {
			type: 'doughnut',
			data: data_pie
		});
		
		$('#reservation').daterangepicker({
			"autoApply": true,
			locale: {
				format: 'DD/MM/YYYY'
			}
		},
		function (start, end, label) {
			grafico_ventas(barChart, myPieChart, start.format('YYYY-MM-DD'), end.format('YYYY-MM-DD'));
		});
		$('#reservation').data('daterangepicker').toggle();

	});
</script>
{% endblock extra_js %}