{% extends "base.html" %}

{% block content %}
	<table class="table">
		<thead>
			<tr>
				<th>Producto</th>
				<th>Fecha</th>
				<th>Cantidad</th>
				<th>Precio unitario</th>
				<th>Precio total</th>
			</tr>
		</thead>
		<tbody>
			{% for compra in compra_list %}
				<tr>
					<td>{{ compra.producto }}</td>
					<td>{{ compra.fecha }}</td>
					<td>{{ compra.cantidad }}</td>
					<td>{{ compra.precio }}</td>
					<td>{{ compra.total }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock content %}