{% extends "base.html" %}
{% block content %}
<div class="row-fluid">
	<div class="col-md-3">
		<div class="card">
			<div class="header">
				<h4 class="title">Agregar un producto nuevo</h4>
			</div>
			<div class="content table-responsive table-full-width">
				<table class="table table-hover table-striped">
					<form action="{{action}}" method="post">
						{% csrf_token %}
						{{ form.as_table }}
						<tr>
							<td></td><td><input type="submit" value="Crear" class="btn btn-primary"></td>
						</tr>
					</form>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="card">
			<div class="header">
				<h4 class="title">Lista de productos</h4>
			</div>
			<div class="content table-responsive table-full-width">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Producto</th>
							<th>Existencia</th>
							<th>Precio de compra actual</th>
							<th>Precio de venta actual</th>
						</tr>
					</thead>
					<tbody>
						{% for producto in producto_list %}
							<tr>
								<td>{{ producto }}</td>
								<td>{{ producto.existencia }}</td>
								<td>{{ producto.precio_compra_actual }}</td>
								<td>{{ producto.precio_venta_actual }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock content %}